html
{
	font-size: 11px;
}
*
{
	box-sizing: border-box;
	color: #333;
	line-height: 1;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar
{
	width: 0;
}
.hide
{
	display: none!important;
}
h2
{
	color: #333;
	line-height: 1;
	font-size: 3rem;
	margin-bottom: 4rem;
	font-weight: 600;
	text-align: center;
}
button,
.btn
{
	display: block;
	background-color: #3CD442;
	border-radius: .4rem;
	padding: 0.6rem 0.8rem;
	border: none;
	cursor: pointer;
	transition: ease-out .125s;
	font-weight: 600;
	outline: none;
}
.btn_big
{
	font-size: 2rem;
	padding: 1rem 2rem;
}
button:hover,
.btn:hover
{
	color: #fff;
	background-color: #333;
}
.container
{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.header
{
	background-color: #333;
	width: 100%;
	height: 6rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.logo
{
	font-size: 0;
	line-height: 0;
}
.logo svg
{
	width: 20rem;
	height: 3rem;
}
.play
{
	padding-top: 6rem;
	padding-bottom: 8rem;
}
.play-btn
{
	margin: 0 auto;
}
body.ow-hidden
{
	overflow: hidden;
}
.overlay
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 25;
	transition: all .3s;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(4px);
}
.overlay._show
{
	visibility: visible;
	opacity: 1;
}
.overlay._show .popup._show
{
	visibility: visible;
	opacity: 1;
}
.popup
{
	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: all .3s;
	visibility: hidden;
	opacity: 0;
	background-color: #fff;
	max-width: 130rem;
	/*max-height: calc(var(--vh, 1vh) * 90);*/
	padding: 2.4rem;
	max-height: calc(var(--vh, 1vh) * 75);
	height: fit-content;
	z-index: 10;
	box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0112458), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0161557), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.02), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0238443), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0287542), 0px 100px 80px rgba(0, 0, 0, 0.04);
}
.popup::-webkit-scrollbar
{
	width: 0;
}
.popup-close
{
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	position: absolute;
	text-align: right;
	top: 3.2rem;
	right: 3.2rem;
	z-index: 1;
}
.popup-close svg
{
	width: 2.4rem;
	height: 2.4rem;
}
.play-popup
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-evenly;
	-ms-align-items: center;
	align-items: center;
}
.play-popup-item
{
	flex-basis: calc(50% - 4rem);
	height: -webkit-fill-available;
	position: relative;
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.play-popup-item:after
{
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	filter: opacity(.8) blur(3px);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	transition: ease-out .2s;
}
.play-popup-item:hover:after
{
	filter: none;
}
.play-popup-item:hover .play-popup-item__descr
{
	background-color: transparent;
	filter: none;
}
.play-popup-item._pvp:after
{
	background-image: url("/assets/pvp.jpg");
}
.play-popup-item._pve:after
{
	background-image: url("/assets/pve.jpg");
}
.play-popup-item__img
{
	line-height: 0;
	font-size: 0;
}
.play-popup-item__img img
{
	width: 100%;
}
.play-popup-item__descr
{
	font-size: 3.6rem;
	position: relative;
	z-index: 2;
	width: 100%;
	font-weight: 600;
	height: 10rem;
	transition: ease-out .2s;
	background-color: rgb(0,0,0,.4);
	color: #fff;
	filter: opacity(.8) blur(1px);
	padding-top: 2rem;
	padding-left: 2rem;
}
.footer-wr
{
	background-color: #333;
}
.container {
}
.footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 2rem 20px;
}
.footer-text
{
	color: #3cd442;
	font-size: 2rem;
	font-weight: 600;
}
.footer-logo
{
	font-size: 0;
	line-height: 0;
}
.footer-logo img
{
	max-width: 10rem;
}

.play-title-text
{
	color: #3cd442;
	font-size: 2.4rem;
	font-weight: 600;
}
p
{
	font-size: 2rem;
	line-height: 130%;
	color: #333;
	margin: 2.4rem 0;
}
b
{
	font-size: 2rem;
}
section
{
	margin-bottom: 4rem;
}

.room-items
{
}
._room-items-all
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	
}
.room-item
{
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	padding: 2rem;
	margin: 0 1.6rem 4rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.room-item-table
{
	margin-bottom: 1.6rem;
}
.room-item-table td
{
	font-size: 2rem;
	padding: .8rem;
	word-break: break-all;
	width: 14.4rem;
}
.room-item-btn
{
	margin-top: auto;
}
.room-items-empty
{
	text-align: center;
	display: block;
	width: 100%;
}
.room-items-btn-wr
{
	display: block;
	width: 100%;
}
.room-items-btn
{
	margin: 0 auto;
}
.room-create
{
	max-width: 55rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.room-create form
{
	margin: 0 auto;
}
.room-create td
{
	padding: 1.2rem;
}
.room-create button
{
	margin: 1.2rem;
}
.room-create-form .error
{
	display: none;
}
.room-create-form .error td
{
	color: #FF342B;
	font-size: 2rem;
	font-weight: 600;
}
.room-create-form.error .error
{
	display: block;
}
._test-room-item
{
	display: none;
}
@media (max-width: 1440px)
{
	html
	{
		font-size: 10px;
	}
}
@media (max-width: 1440px)
{
	html
	{
		font-size: 10px;
	}
}